*{
    margin: 0;
   padding: 0;
   box-sizing:border-box;
}

.hero{/* es para que tenga una cabecera */
    width: 100%;
    height: 800px;
    background-size: cover;/* para que ocupe toda la dimension que puse */
    background-position: left;
    background-repeat: no-repeat;
    background-image: linear-gradient(37deg, rgba(148, 177, 230, 0.068), rgba(219, 107, 223, 0.356)), url(./guardaropas.jpg);
    background-attachment: fixed;
    position: relative;
    
}
h1{
    text-align: center;
    margin-top: 100px;/* desde arriba me baja el contenido porque me agrega margen y me baja el contenido */
    font-family: 'Marcellina Script', sans-serif;
    font-size: 90px;                                             
}
nav ul{
    text-align: center;
    border: 2px solid black;
}
nav ul li a{
    
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding: 20px;
    font-family: 'Lorjuk', sans-serif;
    margin:20px;  
}
nav ul li{
    display: inline-block;
}
.element{
    height: 1200px;
}/* aca hacemos un scroll */
.wave{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom:0;
}

.box1{
    width: 100%;
    background-color: rosybrown;
}

